# **Air Quality**

---
---

# Exploratory Data Analysis

In [85]:
# Import of libraries
import pandas as pd
#pip install pandas openpyxl (para leer excels)
import numpy as np
import folium
import matplotlib.pyplot as plt
import sqlite3 as sql
import seaborn as sns

In [86]:
pd.set_option('display.max_columns', None)

#### **Upload and view the polluting data for Spain in 2020**
- Concatenate the files to be able to work better with them.
- Process the data before the EDA.

In [87]:
C6H6_HH_22 = pd.read_csv('../data/raw/time data 2022/C6H6_HH_2022.csv', sep = ';')
CO_HH_22 = pd.read_csv('../data/raw/time data 2022/CO_HH_2022.csv', sep= ';')
NO2_HH_22 = pd.read_csv('../data/raw/time data 2022/NO2_HH_2022.csv', sep = ';')
NOx_HH_22 = pd.read_csv('../data/raw/time data 2022/NOx_HH_2022.csv', sep = ';')
O3_HH_22 = pd.read_csv('../data/raw/time data 2022/O3_HH_2022.csv', sep = ';')
PM10_HH_22 = pd.read_csv('../data/raw/time data 2022/PM10_HH_2022.csv', sep = ';')
PM25_HH_22 = pd.read_csv('../data/raw/time data 2022/PM25_HH_2022.csv', sep = ';')
SO2_HH_22 = pd.read_csv('../data/raw/time data 2022/SO2_HH_2022.csv', sep = ';')

In [88]:
pollutants = pd.concat([C6H6_HH_22, CO_HH_22, NO2_HH_22, NOx_HH_22, O3_HH_22, PM10_HH_22, PM25_HH_22, SO2_HH_22])
print(pollutants.shape)

(819614, 32)

In [89]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1,59,8,30,01059008_30_59,2022,1,1,1.58,0.73,0.55,0.68,0.65,0.72,0.56,0.59,0.56,0.84,0.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,59,8,30,01059008_30_59,2022,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.24,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28

In [90]:
pollutants.to_csv('../data/processed/pollutants.csv', index= False)
pollutants = pd.read_csv('../data/processed/pollutants.csv')

In [91]:
total_nan = pollutants.isna().sum().sum()
total_nan

367595

In [92]:
row_nan = pollutants.isna().any(axis=1).sum()
row_nan

100332

In [93]:
pollutants = pollutants.dropna()
pollutants

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
5,1,59,8,30,01059008_30_59,2022,1,7,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28
6,1,59,8,30,01059008_30_59,2022,1,8,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819608,51,1,1,1,51001001_1_38,2022,12,13,1.53,1.33,1.58,1.41,1.43,2.88,1.76,1.51,1.42,1.44,1.55,1.41,1.65,1.88,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16
819609,51,1,1,1,51001001_1_38,2022,12,16,1.64,1.50,1.47,1.44,1.58,1.38,1.12,1.22,1.46,1.18,1.37,2.75,8.84,15.18,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62
819610,51,1,1,1,51001001_1_38,2022,12,25,2.30,2.15,2.17,2.05,1.82,1.74,1.85,2.48,2.71,3.53,3.34,2.98,2.99,2.44,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28
819611,51,1,1,1,51001001_1_38,2022,12,26,1.40,1.22,1.22,1.11,1.04,1.16,1.15,1.23,1.18,1.43,1.65,1.91,2.09,2.99,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52
819612,51,1,1,1,51001001_1_38,2022,12,28,1.68,1.40,1.52,1.66,1.53,1.57,1.48,1.40,2.78,2.35,2.17,2.26,2.35,2.11,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62

In [94]:
measured_excel = pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name= 'Magnitudes')
measured_excel.head(14)

,MAGNITUD,NOMBRE,ABREVIATURA,UNIDAD,GRUPO
0,1,DIÓXIDO DE AZUFRE,SO2,µg/m3,Contaminantes con valor legislado
1,6,MONÓXIDO DE CARBONO,CO,mg/m3,Contaminantes con valor legislado
2,7,MONÓXIDO DE NITRÓGENO,NO,µg/m3,NaN
3,8,DIÓXIDO DE NITRÓGENO,NO2,µg/m3,Contaminantes con valor legislado
4,9,"PARTÍCULAS EN SUSPENSIÓN <2,5µM",PM2.5,µg/m3,Contaminantes con valor legislado
5,10,PARTÍCULAS EN SUSPENSIÓN <10µM,PM10,µg/m3,Contaminantes con valor legislado
6,12,ÓXIDOS DE NITRÓGENO TOTALES,NOX,µg/m3 NO2,Contaminantes con valor legislado
7,14,OZONO,O3,µg/m3,Contaminantes con valor legislado
8,17,ARSENICO (PM10),As,ng/m3,Contaminantes con valor legislado
9,19,PLOMO (PM10),Pb,µg/m3,Contaminantes con valor legislado
10,27,BENZO(A)PIRENO (PM10),BAP,ng/m3,Contaminantes con valor legislado
11,28,CADMIO (PM10),Cd,ng/m3,Contaminantes con valor legislado
12,30,BENCENO,C6H6,µg/m3,Contaminantes con valor legislado
13,62,NÍQUEL (PM10),NI,ng/m3,Contaminantes con valor legislado

In [95]:
# Leer una hoja específica del archivo Excel
stations_excel= pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name='Estaciones')
stations_excel.head(3)

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA

In [96]:
columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

for columna in columnas_a_modificar:
    # Asegurarse de que todos los valores no-NaN sean strings
    # y aplicar la operación de reemplazo
    stations_excel[columna] = stations_excel[columna].apply(lambda x: str(x).replace(',', '.') if pd.notnull(x) else x)

# Después de asegurarse de que todos los valores son strings y de reemplazar las comas
# Convertimos toda la columna a float
for columna in columnas_a_modificar:
    stations_excel[columna] = stations_excel[columna].astype(float)

stations_excel.head()

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA
3,1055001,1,55,1,ES1489A,CCAA País Vasco,VALDEREJO,1998-01-01,NaT,42.87520,-3.23170,911,PAÍS VASCO,ÁLAVA,VALDEGOVÍA,FONDO,RURAL,REMOTA,RFREM,NATURALEZA,PARQUE NATURAL DE VALDEREJO
4,1059008,1,59,8,ES1502A,CCAA País Vasco,AVENIDA GASTEIZ,1998-01-01,NaT,42.85480,-2.68070,517,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,TRAFICO,URBANA,NaN,UT,RESIDENCIAL/COMERCIAL,"AVDA. GASTEIZ, 93"

In [97]:
# Crear un mapa base
m = folium.Map(location=[stations_excel['LATITUD_G'].mean(), stations_excel['LONGITUD_G'].mean()], zoom_start=6)

# Añadir puntos al mapa
for idx, row in stations_excel.iterrows():
    folium.Marker(location=[row['LATITUD_G'], row['LONGITUD_G']],
                  popup=row['N_MUNICIPIO'] if 'NombrePunto' in stations_excel.columns else "Sin Nombre").add_to(m)

# Guardar el mapa en un archivo HTML
m.save('mapa.html')
#Aqui no se ve nada, creo que hay qeu hacerlo en un navegador normal
# Si descargamos en nuestro sistema y lo ejecutamos, abre directamente una web con el mapa creado

In [98]:
# pollutants_clean = pollutants.dropna()
# pollutants_clean


#pollution_madrid[pollution_madrid['fecha'] == 2023]


# pollution_madrid['fecha'] = pd.to_datetime(pollution_madrid['fecha'], format='mixed')
# pollution_madrid.head()


# fecha_inicio = pd.to_datetime('23-01-01', format='%y-%m-%d')
# fecha_fin = pd.to_datetime('23-12-31', format='%y-%m-%d')
# df_filtrado = pollution_madrid[(pollution_madrid['fecha'] >= fecha_inicio) & (pollution_madrid['fecha'] <= fecha_fin)]


# columnas_a_modificar = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# for columna in columnas_a_modificar:
#     pollution_madrid[columna] = pollution_madrid[columna].str.replace(',', '.').astype(float)

# total_null = pollution_madrid.isnull().sum().sum()


# for file, df in files_csv.items():
#     total_nan = df.isna().sum().sum()
#     print(f'{file}: {total_nan} NaNs')
# all_nan_rows = df[df.isna().all(axis=1)]

#Para filtrar por filas con todos sus valores NaN:
# rows_nan = 0

# for index, row in pollutants[data_nan].iterrows():
#     value_nan = row.isna().sum()
#     rows_nan += 1
#     print(f'row{index} have {value_nan} NaN value')

# print(f'Total rows with ')


# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

# for columna in columnas_a_modificar:
#     # Aplicar la operación solo a los elementos de tipo string
#     condicion = stations_excel[columna].apply(lambda x: isinstance(x, str))
#     stations_excel.loc[condicion, columna] = stations_excel.loc[condicion, columna].str.replace(',', '.').astype(float)

# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']
# for columna in columnas_a_modificar:
#     stations_excel[columna] = stations_excel[columna].str.replace(',', '.').astype(float)

In [99]:
pollutants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 719282 entries, 2 to 819612
Data columns (total 32 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PROVINCIA       719282 non-null  int64
 1   MUNICIPIO       719282 non-null  int64
 2   ESTACION        719282 non-null  int64
 3   MAGNITUD        719282 non-null  int64
 4   PUNTO_MUESTREO  719282 non-null  object
 5   ANNO            719282 non-null  int64
 6   MES             719282 non-null  int64
 7   DIA             719282 non-null  int64
 8   H01             719282 non-null  float64
 9   H02             719282 non-null  float64
 10  H03             719282 non-null  float64
 11  H04             719282 non-null  float64
 12  H05             719282 non-null  float64
 13  H06             719282 non-null  float64
 14  H07             719282 non-null  float64
 15  H08             719282 non-null  float64
 16  H09             719282 non-null  float64
 17  H10             719282 non-null  float64
 18  H11             719282 non-null  float64
 19  H12             719282 non-null  float64
 20  H13             719282 non-null  float64
 21  H14             719282 non-null  float64
 22  H15             719282 non-null  float64
 23  H16             719282 non-null  float64
 24  H17             719282 non-null  float64
 25  H18             719282 non-null  float64
 26  H19             719282 non-null  float64
 27  H20             719282 non-null  float64
 28  H21             719282 non-null  float64
 29  H22             719282 non-null  float64
 30  H23             719282 non-null  float64
 31  H24             719282 non-null  float64
dtypes: float64(24), int64(7), object(1)
memory usage: 181.1+ MB

In [100]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
5,1,59,8,30,01059008_30_59,2022,1,7,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28
6,1,59,8,30,01059008_30_59,2022,1,8,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19

In [101]:
# # Contabilizar el número de filas que contienen valores NaN creando un índice

# count_nans = {}

# for index, row in pollutants.iterrows():
#     nans = row.isna().sum()

#     if nans in count_nans:
#         count_nans[nans] += 1
#     else:
#         count_nans[nans] =1

# count_nans

In [102]:
# Crear una columna 'fecha' con el año, mes y día
pollutants['FECHA'] = pd.to_datetime(pollutants[['ANNO', 'MES', 'DIA']].astype(str).agg('-'.join, axis=1), errors='coerce', format='%Y-%m-%d')
pollutants.drop(["ANNO", "MES", "DIA"], axis=1, inplace=True)

In [103]:
# Crear diccionario de las magnitudes
measured_dict = {}

for index, row in measured_excel.iterrows():
    measured_dict[row['MAGNITUD']] = row['ABREVIATURA']

measured_dict

{1: 'SO2',
 6: 'CO',
 7: 'NO',
 8: 'NO2',
 9: 'PM2.5',
 10: 'PM10',
 12: 'NOX',
 14: 'O3',
 17: 'As',
 19: 'Pb',
 27: 'BAP',
 28: 'Cd',
 30: 'C6H6',
 62: 'NI'}

In [104]:
pollutants.drop(["PUNTO_MUESTREO"], axis=1, inplace=True)

In [105]:
# Suponiendo que las dos claves son 'CLAVE1' y 'CLAVE2' y el valor es 'VALOR'
diccionario_municipios = {(row['PROVINCIA'], row['MUNICIPIO']): row['N_MUNICIPIO'] for index, row in stations_excel.iterrows()}
diccionario_municipios

{(1, 22): 'ELCIEGO',
 (1, 36): 'LLODIO',
 (1, 51): 'SALVATIERRA O AGURAIN',
 (1, 55): 'VALDEGOVÍA',
 (1, 59): 'VITORIA-GASTEIZ',
 (2, 3): 'ALBACETE',
 (3, 2): 'AGOST',
 (3, 9): 'ALCOY/ALCOI',
 (3, 14): 'ALICANTE/ALACANT',
 (3, 31): 'BENIDORM',
 (3, 65): 'ELCHE/ELX',
 (3, 66): 'ELDA',
 (3, 99): 'ORIHUELA',
 (3, 105): 'PINOSO',
 (3, 133): 'TORREVIEJA',
 (4, 13): 'ALMERÍA',
 (4, 22): 'BÉDAR',
 (4, 24): 'BENAHADUX',
 (4, 32): 'CARBONERAS',
 (4, 35): 'CUEVAS DEL ALMANZORA',
 (4, 66): 'NÍJAR',
 (4, 902): 'EJIDO (EL)',
 (5, 19): 'ÁVILA',
 (6, 15): 'BADAJOZ',
 (6, 16): 'BARCARROTA',
 (6, 22): 'BURGUILLOS DEL CERRO',
 (6, 70): 'JEREZ DE LOS CABALLEROS',
 (6, 81): 'MEDINA DE LAS TORRES',
 (6, 83): 'MÉRIDA',
 (6, 158): 'ZAFRA',
 (7, 3): 'ALCÚDIA',
 (7, 10): 'BUNYOLA',
 (7, 15): 'CIUTADELLA DE MENORCA',
 (7, 19): 'ESCORCA',
 (7, 26): 'EIVISSA',
 (7, 32): 'MAHÓN',
 (7, 40): 'PALMA DE MALLORCA',
 (7, 42): 'POLLENÇA',
 (7, 44): 'POBLA (SA)',
 (7, 46): 'SANT ANTONI DE PORTMANY',
 (7, 54): 'SANTA EULALIA DEL RÍO',
 (8, 14): 'AIGUAFREDA',
 (8, 15): 'BADALONA',
 (8, 19): 'BARCELONA',
 (8, 22): 'BERGA',
 (8, 54): 'CASTELLBISBAL',
 (8, 74): 'CUBELLES',
 (8, 89): 'GAVÀ',
 (8, 96): 'GRANOLLERS',
 (8, 101): "HOSPITALET DE LLOBREGAT (L')",
 (8, 102): 'IGUALADA',
 (8, 112): 'MANLLEU',
 (8, 113): 'MANRESA',
 (8, 114): 'MARTORELL',
 (8, 121): 'MATARÓ',
 (8, 123): 'MOLINS DE REI',
 (8, 124): 'MOLLET DEL VALLÈS',
 (8, 125): 'MONTCADA I REIXAC',
 (8, 136): 'MONTORNÈS DEL VALLÈS',
 (8, 137): 'MONTSENY',
 (8, 157): 'PALLEJÀ',
 (8, 169): 'PRAT DE LLOBREGAT (EL)',
 (8, 184): 'RUBÍ',
 (8, 187): 'SABADELL',
 (8, 194): 'SANT ADRIÀ DE BESÒS',
 (8, 196): 'SANT ANDREU DE LA BARCA',
 (8, 202): 'SANT CELONI',
 (8, 205): 'SANT CUGAT DEL VALLÈS',
 (8, 245): 'SANTA COLOMA DE GRAMENET',
 (8, 251): 'SANTA MARGARIDA I ELS MONJOS',
 (8, 252): 'BARBERÀ DEL VALLÈS',
 (8, 259): 'SANTA MARIA DE PALAUTORDERA',
 (8, 260): 'SANTA PERPÈTUA DE MOGODA',
 (8, 263): 'SANT VICENÇ DELS HORTS',
 (8, 274): 'SÚRIA',
 (8, 279): 'TERRASSA',
 (8, 282): 'TIANA',
 (8, 283): 'TONA',
 (8, 298): 'VIC',
 (8, 301): 'VILADECANS',
 (8, 305): 'VILAFRANCA DEL PENEDÈS',
 (8, 307): 'VILANOVA I LA GELTRÚ',
 (9, 18): 'ARANDA DE DUERO',
 (9, 59): 'BURGOS',
 (9, 209): 'MEDINA DE POMAR',
 (9, 219): 'MIRANDA DE EBRO',
 (10, 37): 'CÁCERES',
 (10, 148): 'PLASENCIA',
 (10, 182): 'TORIL',
 (11, 4): 'ALGECIRAS',
 (11, 6): 'ARCOS DE LA FRONTERA',
 (11, 8): 'BARRIOS (LOS)',
 (11, 12): 'CÁDIZ',
 (11, 20): 'JEREZ DE LA FRONTERA',
 (11, 22): 'LÍNEA DE LA CONCEPCIÓN (LA)',
 (11, 26): 'PRADO DEL REY',
 (11, 28): 'PUERTO REAL',
 (11, 31): 'SAN FERNANDO',
 (11, 33): 'SAN ROQUE',
 (12, 5): "ALCORA (L')",
 (12, 9): 'ALMAZORA/ALMASSORA',
 (12, 28): 'BENICASIM/BENICÀSSIM',
 (12, 32): 'BURRIANA',
 (12, 40): 'CASTELLÓN DE LA PLANA/CASTELLÓ DE LA PLANA',
 (12, 46): 'CIRAT',
 (12, 80): 'MORELLA',
 (12, 84): 'ONDA',
 (12, 93): 'POBLA DE BENIFASSÀ (LA)',
 (12, 99): 'SAN JORGE',
 (12, 120): 'TORRE ENDOMÉNECH',
 (12, 124): "VALL D'ALBA",
 (12, 126): "VALL D'UIXÓ (LA)",
 (12, 129): 'VILLAFRANCA DEL CID',
 (12, 135): 'VILLARREAL/VILA-REAL',
 (12, 140): 'VIVER',
 (12, 141): 'ZORITA DEL MAESTRAZGO',
 (13, 34): 'CIUDAD REAL',
 (13, 71): 'PUERTOLLANO',
 (14, 21): 'CÓRDOBA',
 (14, 26): 'ESPIEL',
 (14, 47): 'OBEJO',
 (14, 68): 'VILLAHARTA',
 (15, 5): 'ARTEIXO',
 (15, 23): 'CEE',
 (15, 24): 'CERCEDA',
 (15, 30): 'CORUÑA (A)',
 (15, 32): 'CURTIS',
 (15, 34): 'DUMBRÍA',
 (15, 36): 'FERROL',
 (15, 41): 'LARACHA',
 (15, 55): 'NEDA',
 (15, 57): 'NOIA',
 (15, 59): 'ORDES',
 (15, 70): 'PONTES DE GARCÍA RODRÍGUEZ (AS)',
 (15, 78): 'SANTIAGO DE COMPOSTELA',
 (16, 78): 'CUENCA',
 (17, 1): 'AGULLANA',
 (17, 13): 'BEGUR',
 (17, 22): "BISBAL D'EMPORDÀ (LA)",
 (17, 27): 'BREDA',
 (17, 32): 'CADAQUÉS',
 (17, 44): 'CASSÀ DE LA SELVA',
 (17, 79): 'GIRONA',
 (17, 125): 'PARDINES',
 (17, 184): 'SANTA PAU',
 (18, 21): 'ARMILLA',
 (18, 87): 'GRANADA',
 (18, 140): 'MOTRIL',
 (18, 189): 'VÍZNAR',
 (19, 46): 'AZUQUECA DE HENARES',
 (19, 61): 'CAMPISÁBALOS',
 (19, 130): 'GUADALAJARA',
 (20, 9): 'ANDOAIN',
 (20, 16): 'AIA',
 (20, 18): 'AZPEITIA',
 (20, 19): 'BEASAIN',
 (20, 36): 'HONDARRIBIA',
 (20, 40): 'HERNANI',
 (20, 55): 'ARRASATE O MONDRAGÓN',
 (20, 69): 'DONOSTIA-SAN SEBASTIÁN',
 (20, 71): 'TOLOSA',
 (20, 73): 'USURBIL',
 (20, 80): 'ZUMARRAGA',
 (20, 902): 'LASARTE-ORIA',
 (21, 5): 'ALMONTE',
 (21, 41): 'HUELVA',
 (21, 50): 'MOGUER',
 (21, 53): 'NIEBLA',
 (21, 55): 'PALOS DE LA FRONTERA',
 (21, 60): 'PUNTA UMBRÍA',
 (21, 64): 'SAN JUAN DEL PUERTO',
 (22, 125): 'HUESCA',
 (22, 158): 'MONZÓN',
 (22, 190): 'PUEYO DE ARAGUÁS (EL)',
 (22, 199): 'SABIÑÁNIGO',
 (22, 213): 'SARIÑENA',
 (23, 10): 'BAILÉN',
 (23, 50): 'JAÉN',
 (23, 97): 'VILLANUEVA DEL ARZOBISPO',
 (24, 25): 'BURÓN',
 (24, 38): 'CARRACEDELO',
 (24, 64): 'CUBILLOS DEL SIL',
 (24, 89): 'LEÓN',
 (24, 115): 'PONFERRADA',
 (24, 134): 'ROBLA (LA)',
 (24, 143): 'SANCEDO',
 (24, 181): 'VALDERAS',
 (25, 51): 'BELLVER DE CERDANYA',
 (25, 119): 'JUNEDA',
 (25, 120): 'LLEIDA',
 (25, 172): 'PONTS',
 (25, 196): 'SANT ESTEVE DE LA SARGA',
 (25, 209): 'SORT',
 (25, 224): 'TORMS (ELS)',
 (26, 11): 'ALFARO',
 (26, 19): 'ARRÚBAL',
 (26, 66): 'GALILEA',
 (26, 89): 'LOGROÑO',
 (26, 117): 'PRADEJÓN',
 (27, 13): 'CERVO',
 (27, 25): 'XOVE',
 (27, 28): 'LUGO',
 (27, 33): 'MURAS',
 (27, 38): 'OUROL',
 (27, 57): 'SARRIA',
 (27, 58): 'SAVIÑAO (O)',
 (27, 65): 'VILALBA',
 (27, 902): 'BURELA',
 (28, 5): 'ALCALÁ DE HENARES',
 (28, 6): 'ALCOBENDAS',
 (28, 7): 'ALCORCÓN',
 (28, 9): 'ALGETE',
 (28, 13): 'ARANJUEZ',
 (28, 14): 'ARGANDA DEL REY',
 (28, 16): 'ATAZAR (EL)',
 (28, 45): 'COLMENAR VIEJO',
 (28, 47): 'COLLADO VILLALBA',
 (28, 49): 'COSLADA',
 (28, 58): 'FUENLABRADA',
 (28, 65): 'GETAFE',
 (28, 67): 'GUADALIX DE LA SIERRA',
 (28, 74): 'LEGANÉS',
 (28, 79): 'MADRID',
 (28, 80): 'MAJADAHONDA',
 (28, 92): 'MÓSTOLES',
 (28, 102): 'ORUSCO DE TAJUÑA',
 (28, 120): 'RASCAFRÍA',
 (28, 123): 'RIVAS-VACIAMADRID',
 (28, 133): 'SAN MARTÍN DE VALDEIGLESIAS',
 (28, 148): 'TORREJÓN DE ARDOZ',
 (28, 161): 'VALDEMORO',
 (28, 171): 'VILLA DEL PRADO',
 (28, 180): 'VILLAREJO DE SALVANÉS',
 (29, 32): 'CAMPILLOS',
 (29, 67): 'MÁLAGA',
 (29, 69): 'MARBELLA',
 (30, 5): 'ALCANTARILLA',
 (30, 15): 'CARAVACA DE LA CRUZ',
 (30, 16): 'CARTAGENA',
 (30, 24): 'LORCA',
 (30, 30): 'MURCIA',
 (31, 10): 'ALTSASU/ALSASUA',
 (31, 107): 'FUNES',
 (31, 149): 'LEITZA',
 (31, 191): 'OLITE',
 (31, 201): 'PAMPLONA/IRUÑA',
 (31, 216): 'SANGÜESA/ZANGOZA',
 (31, 232): 'TUDELA',
 (32, 32): 'XINZO DE LIMIA',
 (32, 39): 'LAZA',
 (32, 54): 'OURENSE',
 (33, 4): 'AVILÉS',
 (33, 11): 'CANGAS DEL NARCEA',
 (33, 24): 'GIJÓN',
 (33, 31): 'LANGREO',
 (33, 36): 'LLANES',
 (33, 37): 'MIERES',
 (33, 44): 'OVIEDO',
 (33, 60): 'SAN MARTÍN DEL REY AURELIO',
 (33, 66): 'SIERO',
 (33, 68): 'SOMIEDO',
 (34, 23): 'VENTA DE BAÑOS',
 (34, 80): 'GUARDO',
 (34, 120): 'PALENCIA',
 (34, 225): 'VILLAMURIEL DE CERRATO',
 (35, 2): 'AGÜIMES',
 (35, 4): 'ARRECIFE',
 (35, 6): 'ARUCAS',
 (35, 16): 'PALMAS DE GRAN CANARIA (LAS)',
 (35, 17): 'PUERTO DEL ROSARIO',
 (35, 19): 'SAN BARTOLOMÉ DE TIRAJANA',
 (35, 22): 'SANTA LUCÍA DE TIRAJANA',
 (35, 24): 'TEGUISE',
 (35, 26): 'TELDE',
 (36, 24): 'LALÍN',
 (36, 38): 'PONTEVEDRA',
 (36, 41): 'POIO',
 (36, 42): 'PONTEAREAS',
 (36, 57): 'VIGO',
 (37, 177): 'MAÍLLO (EL)',
 (37, 274): 'SALAMANCA',
 (38, 4): 'ARAFO',
 (38, 5): 'ARICO',
 (38, 6): 'ARONA',
 (38, 8): 'BREÑA ALTA',
 (38, 9): 'BREÑA BAJA',
 (38, 11): 'CANDELARIA',
 (38, 17): 'GRANADILLA DE ABONA',
 (38, 31): 'REALEJOS (LOS)',
 (38, 33): 'SAN ANDRÉS Y SAUCES',
 (38, 36): 'SAN SEBASTIÁN DE LA GOMERA',
 (38, 37): 'SANTA CRUZ DE LA PALMA',
 (38, 38): 'SANTA CRUZ DE TENERIFE',
 (38, 48): 'VALVERDE',
 (39, 8): 'ASTILLERO (EL)',
 (39, 16): 'CAMARGO',
 (39, 20): 'CASTRO-URDIALES',
 (39, 25): 'CORRALES DE BUELNA (LOS)',
 (39, 59): 'REINOSA',
 (39, 75): 'SANTANDER',
 (39, 86): 'TOJOS (LOS)',
 (39, 87): 'TORRELAVEGA',
 (40, 194): 'SEGOVIA',
 (41, 4): 'ALCALÁ DE GUADAIRA',
 (41, 38): 'DOS HERMANAS',
 (41, 49): 'GUILLENA',
 (41, 59): 'MAIRENA DEL ALJARAFE',
 (41, 88): 'SAN NICOLÁS DEL PUERTO',
 (41, 91): 'SEVILLA',
 (42, 124): 'MURIEL DE LA FUENTE',
 (42, 173): 'SORIA',
 (43, 4): 'ALCANAR',
 (43, 5): 'ALCOVER',
 (43, 13): "AMETLLA DE MAR (L')",
 (43, 14): 'AMPOSTA',
 (43, 44): 'SÉNIA (LA)',
 (43, 47): 'CONSTANTÍ',
 (43, 64): 'GANDESA',
 (43, 70): 'GUIAMETS (ELS)',
 (43, 103): 'PERAFORT',
 (43, 123): 'REUS',
 (43, 148): 'TARRAGONA',
 (43, 162): "VANDELLÒS I L'HOSPITALET DE L'INFANT",
 (43, 171): 'VILA-SECA',
 (44, 13): 'ALCAÑIZ',
 (44, 51): 'CALANDA',
 (44, 67): 'CASTELNOU',
 (44, 77): 'CEROLLERA (LA)',
 (44, 216): 'TERUEL',
 (45, 81): 'ILLESCAS',
 (45, 153): 'SAN PABLO DE LOS MONTES',
 (45, 165): 'TALAVERA DE LA REINA',
 (45, 168): 'TOLEDO',
 (45, 200): 'YÉBENES (LOS)',
 (46, 10): 'ALBALAT DELS TARONGERS',
 (46, 17): 'ALZIRA',
 (46, 28): 'ALGAR DE PALANCIA',
 (46, 62): 'BENIGÁNIM',
 (46, 78): 'BURJASSOT',
 (46, 95): 'CAUDETE DE LAS FUENTES',
 (46, 99): 'CORTES DE PALLÁS',
 (46, 102): 'QUART DE POBLET',
 (46, 131): 'GANDIA',
 (46, 184): 'ONTINYENT',
 (46, 190): 'PATERNA',
 (46, 220): 'SAGUNTO/SAGUNT',
 (46, 242): 'TORREBAJA',
 (46, 244): 'TORRENT',
 (46, 250): 'VALENCIA',
 (46, 256): 'VILAMARXANT',
 (46, 258): 'VILLAR DEL ARZOBISPO',
 (46, 263): 'ZARRA',
 (47, 75): 'ÍSCAR',
 (47, 85): 'MEDINA DEL CAMPO',
 (47, 104): 'OLMEDO',
 (47, 186): 'VALLADOLID',
 (48, 2): 'ABANTO Y CIÉRVANA/ABANTO ZIERBENA',
 (48, 3): 'AMOREBIETA-ETXANO',
 (48, 13): 'BARAKALDO',
 (48, 15): 'BASAURI',
 (48, 20): 'BILBAO',
 (48, 27): 'DURANGO',
 (48, 44): 'GETXO',
 (48, 59): 'MAÑARIA',
 (48, 68): 'MUNDAKA',
 (48, 71): 'MUSKIZ',
 (48, 82): 'SANTURTZI',
 (48, 84): 'SESTAO',
 (48, 96): 'ZALLA',
 (48, 902): 'ERANDIO',
 (48, 904): 'SONDIKA',
 (48, 913): 'ZIERBENA',
 (49, 149): 'PEÑAUSENDE',
 (49, 275): 'ZAMORA',
 (50, 8): 'ALAGÓN',
 (50, 59): 'BUJARALOZ',
 (50, 101): 'ESCATRÓN',
 (50, 297): 'ZARAGOZA',
 (51, 1): 'CEUTA'}

In [106]:
# Crear un diccionario vacío para los nombres de las provincias
diccionario_provincias = {}

for index, row in stations_excel.iterrows():
    diccionario_provincias[row['PROVINCIA']] = row['N_PROVINCIA']

diccionario_provincias

{1: 'ÁLAVA',
 2: 'ALBACETE',
 3: 'ALICANTE/ALACANT',
 4: 'ALMERÍA',
 5: 'ÁVILA',
 6: 'BADAJOZ',
 7: 'BALEARS (ILLES)',
 8: 'BARCELONA',
 9: 'BURGOS',
 10: 'CÁCERES',
 11: 'CÁDIZ',
 12: 'CASTELLÓN/CASTELLÓ',
 13: 'CIUDAD REAL',
 14: 'CÓRDOBA',
 15: 'CORUÑA (A)',
 16: 'CUENCA',
 17: 'GIRONA',
 18: 'GRANADA',
 19: 'GUADALAJARA',
 20: 'GUIPÚZCOA',
 21: 'HUELVA',
 22: 'HUESCA',
 23: 'JAÉN',
 24: 'LEÓN',
 25: 'LLEIDA',
 26: 'RIOJA (LA)',
 27: 'LUGO',
 28: 'MADRID',
 29: 'MÁLAGA',
 30: 'MURCIA',
 31: 'NAVARRA',
 32: 'OURENSE',
 33: 'ASTURIAS',
 34: 'PALENCIA',
 35: 'PALMAS (LAS)',
 36: 'PONTEVEDRA',
 37: 'SALAMANCA',
 38: 'SANTA CRUZ DE TENERIFE',
 39: 'CANTABRIA',
 40: 'SEGOVIA',
 41: 'SEVILLA',
 42: 'SORIA',
 43: 'TARRAGONA',
 44: 'TERUEL',
 45: 'TOLEDO',
 46: 'VALENCIA',
 47: 'VALLADOLID',
 48: 'VIZCAYA',
 49: 'ZAMORA',
 50: 'ZARAGOZA',
 51: 'CEUTA'}

In [107]:

# Crear la clave combinada en el DataFrame objetivo.
pollutants['LOC_MUNIC'] = pollutants.apply(lambda x: (x['PROVINCIA'], x['MUNICIPIO']), axis=1)

# Usar el método .map() para mapear los nombres de municipio usando el diccionario.
pollutants['N_MUNICIPIO'] = pollutants['LOC_MUNIC'].map(diccionario_municipios)

pollutants.drop('LOC_MUNIC', axis=1, inplace=True)

In [108]:
# Agregar diccionarios de las magnitudes y provincias
pollutants['MAGNITUD'] = pollutants['MAGNITUD'].map(measured_dict)
pollutants['PROVINCIA'] = pollutants['PROVINCIA'].map(diccionario_provincias)
pollutants

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24,FECHA,N_MUNICIPIO
2,ÁLAVA,59,8,C6H6,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22,2022-01-04,VITORIA-GASTEIZ
3,ÁLAVA,59,8,C6H6,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41,2022-01-05,VITORIA-GASTEIZ
4,ÁLAVA,59,8,C6H6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28,2022-01-06,VITORIA-GASTEIZ
5,ÁLAVA,59,8,C6H6,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28,2022-01-07,VITORIA-GASTEIZ
6,ÁLAVA,59,8,C6H6,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19,2022-01-08,VITORIA-GASTEIZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819608,CEUTA,1,1,SO2,1.53,1.33,1.58,1.41,1.43,2.88,1.76,1.51,1.42,1.44,1.55,1.41,1.65,1.88,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16,2022-12-13,CEUTA
819609,CEUTA,1,1,SO2,1.64,1.50,1.47,1.44,1.58,1.38,1.12,1.22,1.46,1.18,1.37,2.75,8.84,15.18,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62,2022-12-16,CEUTA
819610,CEUTA,1,1,SO2,2.30,2.15,2.17,2.05,1.82,1.74,1.85,2.48,2.71,3.53,3.34,2.98,2.99,2.44,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28,2022-12-25,CEUTA
819611,CEUTA,1,1,SO2,1.40,1.22,1.22,1.11,1.04,1.16,1.15,1.23,1.18,1.43,1.65,1.91,2.09,2.99,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52,2022-12-26,CEUTA
819612,CEUTA,1,1,SO2,1.68,1.40,1.52,1.66,1.53,1.57,1.48,1.40,2.78,2.35,2.17,2.26,2.35,2.11,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62,2022-12-28,CEUTA

In [110]:
# Cambiar el orden de las columnas

# Nombres de las columnas de horas en orden
columnas_horas = ['H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 
                  'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 
                  'H21', 'H22', 'H23', 'H24']

# Nuevo orden de las columnas
nuevo_orden = ['FECHA', 'PROVINCIA', 'N_MUNICIPIO', 'ESTACION', 'MAGNITUD'] + columnas_horas

pollutants = pollutants[nuevo_orden]
pollutants

,FECHA,PROVINCIA,N_MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
2,2022-01-04,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,2022-01-05,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,2022-01-06,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
5,2022-01-07,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28
6,2022-01-08,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819608,2022-12-13,CEUTA,CEUTA,1,SO2,1.53,1.33,1.58,1.41,1.43,2.88,1.76,1.51,1.42,1.44,1.55,1.41,1.65,1.88,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16
819609,2022-12-16,CEUTA,CEUTA,1,SO2,1.64,1.50,1.47,1.44,1.58,1.38,1.12,1.22,1.46,1.18,1.37,2.75,8.84,15.18,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62
819610,2022-12-25,CEUTA,CEUTA,1,SO2,2.30,2.15,2.17,2.05,1.82,1.74,1.85,2.48,2.71,3.53,3.34,2.98,2.99,2.44,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28
819611,2022-12-26,CEUTA,CEUTA,1,SO2,1.40,1.22,1.22,1.11,1.04,1.16,1.15,1.23,1.18,1.43,1.65,1.91,2.09,2.99,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52
819612,2022-12-28,CEUTA,CEUTA,1,SO2,1.68,1.40,1.52,1.66,1.53,1.57,1.48,1.40,2.78,2.35,2.17,2.26,2.35,2.11,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62

In [111]:
# Guardar dataframe procesado
pollutants_clean = pollutants.to_csv('../data/processed/clean_pollutants.csv', index=False)